{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "bracketSameLine": true,
    "extends": [
        "plugin:prettier/recommended"
    ]
}